:root {
    --color-00: #ffffff;
    --color-00-1: #ffffff63;
    --color-01: #000714;
    --color-01-1: #000a1d53;
    --color-01-2: #000a1dbe;
    --color-02: #000d28;
    --color-02-1: #000e2d;
    --color-03: #435f99;
    --color-04: #00143b;
    --color-04-1: #00194b;
    --color-05: #002b82;
    --color-06: #0055ff;
    --color-07: #97baff;
}


html {
    /* a cada 1rem será considerado 10px */
    font-size: 62.5%;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-02);
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    /* flex-direction: column; */

    /* overflow: hidden; */
}

body {
    font-size: 1.6rem;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--color-02);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-06);
    border-radius: 20px;
    border: 4px solid var(--color-02);
}

.content {
    font-family: 'Kanit', sans-serif;
    color: var(--color-00);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1680px;
}

a {
    text-decoration: none;
    color: var(--color-00);
}

.button {
    background-color: var(--color-06);
    color: var(--color-00);
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    transition: all 350ms;
}

.button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 2px var(--color-06);
    -moz-box-shadow: 0px 0px 15px 2px var(--color-06);
    box-shadow: 0px 0px 15px 2px var(--color-06);
}

/* navBar SECTION*/

.navBar {
    background-color: var(--color-01-1);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 10rem;
    box-sizing: border-box;
}

.navBarLogo {
    padding: 2rem;
}

.navBarLogo img {
    width: 60px;
}

.navBarOptions {
    display: flex;
}

.navBarOptions a {
    font-size: 2rem;
    padding-left: 3vw;
}

.navBarOptions a:hover {
    transition: 200ms;
    color: var(--color-07);
}

.active {
    color: var(--color-03);
}

/* navBar SECTION END*/

/* projects SECTION*/

.sectionProjects h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 5rem;
    color: #9e3838;
    text-align: center;
    margin: 0 0 40px 0;
}

.projects {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;

    filter: none;
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px #0000005e;
    background-color: var(--color-04);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.project img {
    width: 300px;
}

.project h3 {
    display: flex;
    color: var(--color-00);
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding-left: 10px;
    opacity: 0.6;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.project:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}


.cover {
    display: block;
    background-color: var(--color-02);
    opacity: .7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.extras {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.extraProjectSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 100px;
    margin: 0px;
    width: 500px;
    background-color: var(--color-04);
    z-index: 2;
}

.extraProjectSection img {
    width: 500px;
    height: fit-content;
    -webkit-box-shadow: inset 0px 0px 76px -28px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px 0px 76px -28px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 0px 76px -28px rgba(0, 0, 0, 0.13);
}

.imagesExtraSection {
    position: relative;
}

.title {
    background-color: var(--color-02);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.extraProjectSection h3 {
    font-size: 3rem;
    font-weight: 300;
    opacity: .8;
}

.title div img {
    width: 25px;
    margin-left: 15px;
    filter: brightness(100);
    opacity: .8;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
    background-color: var(--color-02-1);
}

.links button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-04);
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #0a1f4b;
    border-radius: 3px;
}

.links button:hover {
    cursor: pointer;
}

.description {
    background-color: var(--color-04-1);
    margin: 0 0 0 0;
}

.description p {
    color: var(--color-00);
    opacity: .8;
    padding: 15px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 1px;
}

/* projects SECTION END */


/* Rodapé END */
.footer {
    background-color: var(--color-02-1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    padding: 15px 0;

}

.footer p {
    opacity: .6;
    font-weight: 100;
    text-align: center;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1000px) {
    .projects {
        grid-template: 1fr 1fr / 1fr 1fr;
        row-gap: 40px;
        column-gap: 80px;
    }

    .extraProjectSection {
        top: 200px;
    }
}

@media screen and (max-width: 768px) {

    .projects {
        grid-template: 1fr 1fr / 1fr;
        row-gap: 20px;
        column-gap: 40px;
    }

    .extraProjectSection {
        top: 150px;
        scale: .95;
    }

    .title h3,
    .title div {
        scale: 1.1;
    }

    .description p {
        font-size: 2rem
    }

    .links button {
        scale: 1.1;
    }

    /* MENU TOGGLE */
    .navBarOptions {
        display: none;
        margin: 7px;
    }

    .menuToggle {
        width: 40px;
        height: 40px;
        margin-right: 10%;
    }

    .one,
    .two,
    .three {
        background-color: var(--color-00);
        height: 3px;
        width: 100%;
        margin: 9px auto;

        transition-duration: .35s;
    }

    /* Clicado */

    .menuSection.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: var(--color-02);


        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuSection.on .navBarOptions {
        display: block;
        text-align: center;
        margin-bottom: 150px;
        transition-duration: .6s;
    }

    .menuSection.on .navBarOptions a {
        font-size: 3rem;
        line-height: 10rem;
        display: block;
    }

    .menuSection.on .menuToggle {
        position: absolute;
        top: 15px;
        right: 0;
    }

    .menuSection.on .menuToggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menuSection.on .menuToggle .two {
        opacity: 0;
    }

    .menuSection.on .menuToggle .three {
        transform: rotate(-45deg) translate(10px, -10px);
    }

    /* MENU TOGGLE END */

}

@media screen and (max-width: 530px) {

    .extraProjectSection {
        scale: .8;
    }

    .title {
        padding: 10px 0;
    }

    .title h3,
    .title div {
        scale: 1.2;
    }

    .description p {
        font-size: 2.3rem
    }

    .links button {
        scale: 1.3;
        margin: 10px;
    }
}

@media screen and (max-width: 460px) {

    .extraProjectSection {
        top: 125px;
        scale: .7;
    }

    .description p {
        font-size: 2.5rem
    }

    .links button {
        scale: 1.4;
        margin: 10px;
    }
}

@media screen and (max-width: 390px) {

    .extraProjectSection {
        scale: .6;
    }
    .description p {
        font-size: 2.7rem
    }

    .links button {
        scale: 1.6;
        margin: 20px;
    }
}