.contactMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 50vw;
    margin-bottom: 100px;
}

.contactMe h2 {
    font-size: 3em;
    font-weight: 400;
    margin: 15% 0 5% 0;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.form div {
    display: grid;
    width: 85%;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 25px;
    row-gap: 10px;
    margin-bottom: 50px;
}

.form textarea,
div input {
    background-color: #ffffff00;
    border: none;
    border-bottom: 3px solid var(--color-04);
    font-size: 1rem;
    color: var(--color-00);
    padding-left: 5px;
    padding-top: 5px;

    transition: all .4s;
}

.form div input {
    height: 2rem;
}

.form textarea {
    width: 85%;
    height: 150px;
    background-color: var(--color-04);
    margin-bottom: 30px;
}

.form textarea:focus,
div input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 3px solid var(--color-05);
    outline: 0;
}