
.welcomeScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    max-width: 90vw;
    gap: 10vw;
}

.containerWelcomeMessage h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 90%;
}

.containerWelcomeMessage h2 {
    color: var(--color-03);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.welcomeButtons a {
    font-size: 1.2em;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    transition: all 350ms;
}

.welcomeButtons a:hover {
    background-color: var(--color-04);
    -webkit-box-shadow: 0px 0px 10px 1px var(--color-00-1);
    -moz-box-shadow: 0px 0px 10px 1px var(--color-00-1);
    box-shadow: 0px 0px 10px 1px var(--color-00-1);
}

#imgLaptopDev {
    max-width: 40vw;
}